parameters:
    level: 6
    paths:
        - src/
        - index.php
    scanDirectories:
        - vendor/psr/container/src
        - vendor/inpsyde/modularity/src

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
